
<div class="home-home">
<div class="home">
    <nav class="navbar bg-info nav-home-all"><h4>Tất cả sách</h4></nav>
    {{#each courses}}
    <div class="home_bock">
        <p><b>{{this.theloai}}</b></p>
        <div style="width: 10rem;">
            <img  style="width:10rem;height:14rem" src="{{this.img}}" alt="libary online">
        </div>
   
        <div><a class="btn btn-primary" href="">Đọc ngay</a></div>
    </div>
     {{/each}}
    <div class="list-page">
        <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
    </div>
</div>
<div class="home2">
 <nav class="navbar bg-info nav-home-all2"><h4>Câu nói hay</h4></nav>
    <p>Việc đọc rất quan trọng. Nếu bạn biết cách đọc, cả thế giới sẽ mở ra cho bạn.<br><br>
    <b>- Barack Obama -</b>
    </p>
</div>

<div class="home2">
    <nav class="navbar bg-info nav-home-all2"><h4>Libary Online</h4></nav>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                <a  href=""><img class="d-block w-100" src="img/sach1.jpg" alt="First slide"></a>
                </div>
                <div class="carousel-item">
                <a href=""></a><img class="d-block w-100" src="img/sach2.jpg" alt="Second slide"></a>
                </div>
                <div class="carousel-item">
                <a  href=""></a><img class="d-block w-100" src="img/sach3.jpg" alt="Third slide"></a>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

</div>
</div>