<div class="bottom-navbar">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><b>Libary Online</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Trang chủ<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Thể loại
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="Van-hoc-nghe-thuat">Sách Văn học nghệ thuật</a>
          <a class="dropdown-item" href="Thieu-nhi">Sách Sách thiếu nhi</a>
          <a class="dropdown-item" href="Truyen">Sách Truyện, tiểu thuyết</a>
          <a class="dropdown-item" href="Van-hoa-xa-hoi">Sách Văn hóa xã hội – Lịch sử</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link " href="Lien-he">Liên hệ</a>
      </li>
    </ul>
    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target=".bd-example-modal-lg">Đăng nhập</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content background-login">

      <!--Login-->
<div class="login">
<h1>Đăng nhập</h1>     
<form method="POST">

  <div class="form-group">
    <label for="User_name">Tên đăng nhập</label>
    <input type="text" class="form-control" id="User_name" name="User_name" placeholder="User name">
  </div>
  <div class="form-group">
    <label for="Pass">Mật khẩu</label>
    <input type="password" class="form-control" id="Pass" name="Pass" placeholder="Password">
  </div>

  <button type="submit" class="form-control btn btn-danger  btn-login btn-login1"><strong>Đăng nhập</strong></button>
  <a href="dang-ky" class="form-control btn btn-secondary btn-login"><strong>Đăng ký thành viên</strong></a>  
</form>

    </div> 
  </div>
</div>
</div>
</div>
</nav>
</div>
